.container{
  padding-top: 20px;
  margin: 0 auto;
  position: absolute;
  top:0;right: 0;left: 0;
  text-align: center;
}
#checkall{

  margin 0 auto;
}
tr,td{
  text-align: center;
  margin: 0 auto;

}
.checkbox{
  margin-top: 0px;
}
.head{
  padding-bottom: 30px;
  margin: 0 auto;
  position: absolute;
  top:0;right: 0;left: 0;
  text-align: center;
}
